<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="dbcg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <dbcg.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityNamespace" serializeAs="String">
                <value>Model</value>
            </setting>
            <setting name="AccessorNamespace" serializeAs="String">
                <value>DAL</value>
            </setting>
            <setting name="IntergredSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCascading" serializeAs="String">
                <value>True</value>
            </setting>
        </dbcg.Properties.Settings>
    </userSettings>
</configuration>
