<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xphter.Framework.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Xphter.Framework.Test.Properties.Settings>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>Data Source=localhost\MSSQLSERVER2014; Initial Catalog=Xphter.Framework.Test; Integrated Security=true;</value>
            </setting>
        </Xphter.Framework.Test.Properties.Settings>
    </applicationSettings>
</configuration>