@{
    Layout = null;
}
@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="applicable-device" content="mobile" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Binding</title>
</head>
<body>
    <div>
        OPEN ID: @this.Model
    </div>
</body>
</html>
